__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

.venv/
venv/
env/
ENV/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.cache
volatility3.log

*.dmp
*.mem
*.raw
*.lime
*.vmem
*.vmss
*.vmsn
hiberfil.sys
*.json.xz
